$primary-color: black;
$accent-color: #ffa500;
$text-color:rgba(41, 172, 91, 0.712);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$red: red;
$color-item-border: $red;
$mobile: 800px;